
/* Format beyond carbon state data table */
#state_select, .bigselect {
  font-size: 18px;
  width:100%;
  max-width: 500px;
  padding: 5px;
  border-radius: 10px;
}
.state-table {
  width: 100vw;
  margin-bottom: 0;
  display:nonetable;
  background-color:#eee;
}
.state-table-data {
  display: table-cell;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  padding: 30px 50px 30px 0px;
  text-align:left;
  border-bottom: solid lightgrey 1px;
  border-right: solid lightgrey 1px; 
}
#resultsTable td {
  border-bottom: 1px solid #777;
  padding-top: 4px;
  padding-bottom: 4px;
}
#resultsTable {
  margin-bottom: 8px;
}
#hero-landscape-image {
  background-imageX: url(/community/img/hero/hero.png);

  position:absolute;
  z-index: 100;
}
.hero-text {
  float:left;
  color:#fff;
  text-shadow: 2px 2px 8px #111;
  padding-right:80px;
  font-weight:800;
}
#hero-rect-new {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 40px;
  margin: 0 auto; /* We'll center instead */
  max-width: 600px;
  padding: 20px 50px 20px 50px;
  overflow: auto;
  float: left;
}