
/* Format beyond carbon state data table */
#lifecycle_selects #state_select, .bigselect {
  font-size: 18px !important;
  width:100%;
  max-width: 500px;
  padding: 5px;
  border-radius: 10px;

  max-width: 300px;
  padding: 10px;
  border-radius: 20px;
}
.state-table {
  width: 100vw;
  margin-bottom: 0;
  display:nonetable;
  background-color:#eee;
}
.state-table-data {
  display: table-cell;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  padding: 30px 50px 30px 0px;
  text-align:left;
  border-bottom: solid lightgrey 1px;
  border-right: solid lightgrey 1px; 
}
#resultsTable td {
  border-bottom: 1px solid #777;
  padding-top: 4px;
  padding-bottom: 4px;
}
#resultsTable {
  margin-bottom: 8px;
}
.hero-text {
  float:left;
  color:#fff;
  text-shadow: 2px 2px 8px #111;
  padding-right:80px;
  font-weight:800;
}
@media (max-width: 800px) {
  .hero-text {
    float: none;
  }
  #hero-rect {
    width: 100% !important;
    max-width: 500px !important;
  }
}
.hero-bucket {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
  margin: 0 auto; /* We'll center instead */
  max-width: 600px;
  padding: 20px 50px 20px 50px;
  overflow: auto;
  float: left;
}
#menuImages {
  display: block !important;
}
#menuImages > div {
  float: left;
}
#menuImages img {
  max-width: 200px;
  margin-right: 10px;
}
#hero-mini {

}